@import "tailwindcss";

@theme {
    --color-accent-300: #bb45e6;
    --color-accent-200: #A626D3;
    --color-accent-100: #672280;
    --color-light-400: #FFFFFF;
    --color-light-300: #D1D5DB;
    --color-light-200: #6B7280;
    --color-light-100: #374151;
}

@layer utilities {
    .gradient {
        background: linear-gradient(to right,var(--color-accent-100),var(--color-accent-200));
    }
}

@layer components {
    
    
    .text-input {
        @apply border-1 rounded-md border-light-300 text-light-200 p-2 block w-full;
    }
    
    .wrapper {
        @apply max-w-3xl m-auto;
    }
    
    .meme-text {
        text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
    
        @apply text-2xl min-sm:text-5xl text-light-400 font-bold;
    }
    
}

