@import "tailwindcss";

@theme {
    --color-accent-100: #edd4f6;
    --color-accent-200: #dba8ed;
    --color-accent-300: #ca7de5;
    --color-accent-400: #b851dc;
    --color-accent-500: #a626d3;
    --color-accent-600: #851ea9;
    --color-accent-700: #64177f;
    --color-accent-800: #420f54;
    --color-accent-900: #21082a;
    
    --color-light-400: #FFFFFF;
    --color-light-300: #D1D5DB;
    --color-light-200: #6B7280;
    --color-light-100: #374151;
}

@utility gradient {
    background: linear-gradient(to right,var(--color-accent-600),var(--color-accent-400));
}

@utility gradient-dark {
    background: linear-gradient(to right,var(--color-accent-700),var(--color-accent-500));
}

@layer components {
    
    
    .text-input {
        @apply block w-full p-2 rounded-md border-1 border-light-300 text-light-200;
    }
    
    .wrapper {
        @apply max-w-3xl m-auto;
    }
    
    .meme-text {
        text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
    
        @apply text-2xl font-bold min-sm:text-5xl text-light-400;
    }
    
}

